* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	padding: 12px;
	
	height: 55px;
	margin: 0 auto;
	border: 1px solid #ccc;
	background-color: #fff;
	background-image: url("images/nyt-logo.png");
	background-repeat: no-repeat;
	background-size: content;
	background-position: center center;
	z-index: 999;
}

div.button {
	margin: 0 15px;
	padding: 5px;
	font-size: 14px;
}

div.left {
	float: left;
}

div.right {
	float: right;
}

div#sections {
	box-shadow: 0 0 5px 2px #aaa;
}

div#login {
	color: white;
	background-color: #225599;
	background-color: -webkit-linear-gradient(#228, #22c);
	background-color:    -moz-linear-gradient(#228, #22c);
	background-color:         linear-gradient(#228, #22c);
	border-radius: 3px;
}

#logo-image {
	visibility: hidden;
}

a#logo {
	display: block;
	width: 190px;
	margin: 0 auto;
}

div.btn_block {
	min-width: 100px;
	padding: 4px;
}

nav {
	height: 75px;
	width: 100%;
	position: fixed;
	top: 55px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 3px 7px 2px rgba(80, 80, 80, 0.35);
	z-index: 10;
	overflow: hidden;
	background-color: #fff;
}

ul#nav {
	margin: auto;
	padding: 5px 0;
	width: 200%;
}

ul#nav > li {
	display: inline-block;
	width: 250px;
	padding: 5px;
	margin-right: 25px;
	height: 64px;
	overflow: hidden;
	border-left: 1px solid #ccc;
	vertical-align: middle;
}

ul#nav > li:first-child {
	border-left: none;
}

section {
	display: block;
	position: relative;
	top: 150px;
	margin: auto;
	padding: 0;
	width: 77vw;
	max-width: 750px;
	border-bottom: 1px solid #ccc;
	border-bottom-width: 85%;
	margin-bottom: 50px;
}

h1 {
	font-style: italic;
	font-size: 3vh;
	font-weight: 300;
	margin-top: 3vh;
	padding-bottom: 1.5vh;
	border-bottom: 1px solid #ccc;
}

h2 {
	margin: 12px 0;
	font-style: italic;
}

h3 {
	font-weight: bold;
}

h5 {
	font-size: 12px;
	margin: 2vh 0;
}

h5.author {
	float: left; 
	margin-right: 20px;
}

figure.head > figcaption, figure.video > figcaption {
	font-size: 12px;
	color: #888;
	padding: 8px 0;
}

article {
	width: 85%;
	margin: 30px auto;
}

p {
	margin: 20px 0;
	line-height: 30px;
}

@media screen and (min-width: 920px) {
div.diagram {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	background-color: #fff;
	position: relative;
}
}

@media screen and (max-width: 919px) {
div.diagram {
	display: none;
}
}

div.description {
	position: absolute;
	font-size: 14px;
}

/*div.description:first-child {
	position: absolute;
	left: 100px;
	top: 18%;
}*/

strong {
	font-weight: bold;
}

/*footer {
	position: absolute;
	bottom: 0;
	display: block;
}

#footer {
	display: flex;
}*/